<div class="row col-md-12 mt">
    <div class="col-md-6"><img class="img-responsive" src="~/images/foto.jpg" /></div>
    <div class="col-md-5 col-md-offset-1">
        <p>Nós comercializamos roupas há mais de 15 anos. Trabalhamos com os melhores fornecedores, sempre procurando oferecer artigos de qualidade.</p>
        <p>Nossa clientela é formado apenas por amigos e nosso trabalho é muito baseado na confiança, não vendemos para pessoas que não conhecemos.</p>
        <blockquote class="blockquote-reverse">
            <p>As roupas são lindas e adoro o fato de poder experimentar no conforto da minha casa, me ver no meu espelho e principalmente testar combinações com as peças que eu tenho</p>
            <footer>Cliente anônimo</footer>
        </blockquote>
    </div>
</div>
