@model List<Chikalina.Models.Fotos>

<div class="row col-md-12 mt">
    <div class="col-md-4">
        <img src="~/img/logo.png" />
        <div class="fb-page mt" data-href="https://www.facebook.com/chikalinaloja/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/chikalinaloja/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/chikalinaloja/">Chikalina</a></blockquote>
        </div>
    </div>
    <div class="col-md-7 col-md-offset-1">
        <p>Olá, seja bem vindo ao site da Chikalina Roupas</p>
        <p>Comprando suas roupas com a gente você tem várias vantagens</p>
        <ul>
            <li>Pagamento facilitado</li>
            <li>Prove no conforto da sua casa</li>
            <li>Teste combinações com as roupas que você já tem</li>
        </ul>
        <p>Conheça também e curta nossa Fanpage no Facebook. É só cliar na janela aqui ao lado.</p>
        <p>Veja abaixo nossas últimas novidades. Caso se interesse, é só clicar no ícone do Whatsapp no menu acima e conversar com a gente. Nós levamos até você.</p>
    </div>

</div>
<div class="row col-md-12 mt">
    <div id="photos">
        @foreach (var element in Model)
            {
            <img src="@element.Url" class="img-responsive" />
        }
    </div>
</div>

<div id="fb-root"></div>



@section Scripts {
    @Scripts.Render("~/bundles/scripts")
}